body {
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

.container {
    width: 1170px;
    margin: 0 auto;
}
.container div ul li a{
  color: #EBEDF2

}

nav {
    background: hsl(248, 28%, 35%);
    height: 100px;
    font-size: 17px;
}

header {
    background:#ACB0F2;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #333259;
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Nunito', sans-serif;
}

.menu , .login {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
    margin-top: 20px;
    margin-left: 15px;
}

.menu li {
    float: left;
}
.login li {
    float: right ;
}

.menu li a , .login li a {
    display: block;
    color: white;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    padding: 0px 30px;
    transition: .5s;
}

.menu li a:hover , .login li a:hover {
    background: #4F4D8C;
}

.login img {
    margin-top: 14px;
}

/* İKONLAR İNŞ */
@font-face {
  font-family: 'ikon';
  src: url('./font/ikon.eot?2537354');
  src: url('./font/ikon.eot?2537354#iefix') format('embedded-opentype'),
       url('./font/ikon.woff?2537354') format('woff'),
       url('./font/ikon.ttf?2537354') format('truetype'),
       url('./font/ikon.svg?2537354#ikon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.demo-icon {
  font-family: "ikon";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* İkonlar bitti :) */

/* SİDEBAR START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #EBEDF2;
}

.container{
  float: left;
  max-height: max-content;
  
}
 .container .sidebar {
  position: fixed;
  width: 200px;
  height: 1000px;
  background:#ACB0F2;
  padding: 30px;
  
}
.container .sidebar h1 {
  color: #333259;
  text-align: center;
  margin-bottom: 30px;  
  cursor: pointer;
  transition: .5s;
  font-family: 'Architects Daughter', cursive;
  font-family: 'Nunito', sans-serif;

}

.container .sidebar ul li a {
  color: #333259;
  margin-top: 30px;
}

.container .sidebar ul li{
  color: #474073;
  margin-top: 30px;
}
.container .sidebar h1 span{
color: #333259;
transition: .5s;
}

.container .sidebar h1 span:hover{
  color: #EBEDF2;
}

.container .sidebar h1:hover{
  color: #EBEDF2;
  
}

.container .sidebar ul li{
  padding: 10px;
  border-bottom: 1px solid #333259;
}

.container .sidebar ul li:hover{
  background: #979bf1;
  transition: .5s;
}









/* .home-search .logo {
    margin-bottom: calc(2 * var(--size));
  }
  
  .logo {
    margin-bottom: 0;
  }
  
  tac {
    text-align: center;
  }
  
  figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }
  
  figure {
    margin: 0 0 var(--size);
  }
  
  body {
    margin: 0;
    font: 400 var(--f-size)/1.8 var(--family),sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: var(--body);
    color: var(--text);
    -webkit-text-size-adjust: 100%;
  } */