body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

nav {
    background: #474073;
    height: 100px;
}

header {
    background:#333259;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.menu , .login {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.menu li {
    float: left;
}
.login li {
    float: right ;
}

.menu li a , .login li a {
    display: block;
    color: white;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    padding: 0px 30px;
}

.menu li a:hover , .login li a:hover {
    background: #4F4D8C;
}

.login img {
    margin-top: 14px;
}









/* .home-search .logo {
    margin-bottom: calc(2 * var(--size));
  }
  
  .logo {
    margin-bottom: 0;
  }
  
  tac {
    text-align: center;
  }
  
  figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }
  
  figure {
    margin: 0 0 var(--size);
  }
  
  body {
    margin: 0;
    font: 400 var(--f-size)/1.8 var(--family),sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: var(--body);
    color: var(--text);
    -webkit-text-size-adjust: 100%;
  } */