/* Header ve Nav */

body {
  background: #EBEDF2;  
  margin: 0px;
  padding: 0px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('dizi/backgraund.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed; ;
  }

nav .container-md {
    width: auto;
    margin: 0 auto;
}
.container-md .left-side ul li a{
  color: #EBEDF2;
  margin-top: 20px;
}

nav {
    background: hsl(248, 28%, 35%);
    height: 100px;
    font-size: 17px;
}

header {
    margin-bottom: 0px;
    background:#ACB0F2;
    padding: 20px;
    text-align: center;
    color: #333259;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Nunito', sans-serif;
}

.menu , .login {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align:center;
    margin-left: 15px;
}

.menu li {
    float: left;
}
.login li {
    float: right ;
}

.menu li a , .login li a {
    display: block;
    color: white;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
    padding: 0px 30px;
    transition: .5s;
}

.menu li a:hover , .login li a:hover {
    background: #4F4D8C;
}

.login img {
    margin-top: 14px;
}
/* Header ve Nav end */

/* SİDEBAR START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  float:none;
  
}

.container{
  float: left;
  max-height: max-content;
  
}
 .container .column .sidebar {
  position:fixed;
  width: 210px;
  height: 1000px;
  background:#ACB0F2;
  padding: 30px;
  
}
.container .column .sidebar h1 {
  color: #333259;
  text-align: center;
  margin-bottom: 30px;  
  cursor: pointer;
  transition: .5s;
  font-family: 'Architects Daughter', cursive;
  font-family: 'Nunito', sans-serif;
  
}

.container .column .sidebar ul li a {
  color: #333259;
  margin-top: 30px;
}

.container .column .sidebar ul li{
  color: #474073;
  margin-top: 30px;
}
.container .column .sidebar h1 span{
color: #333259;
transition: .5s;
margin-right: auto ;
}

.container .column .sidebar h1 span:hover{
  color: #EBEDF2;
}

.container .column .sidebar h1:hover{
  color: #EBEDF2;
  
}

.container .column .sidebar ul li{
  padding: 10px;
  border-bottom: 1px solid #333259;
}

.container .column .sidebar ul li:hover{
  background: #979bf1;
  transition: .5s;
}

.card {
  float: right;
}

/* CARD LİST */
.black{
  margin: 100px;
}
.black .card img{
  border: 5px solid #fafafa;
  border-radius: 8px;
  border-style: ridge;
  cursor: pointer;
  user-select: none;
}
/* .black .card img:hover{
  background:#979799;
  transition: .5s;
} */










/* .black2{
  margin: 100px;
  margin-top: 50px;
}
.black2 .card img{
  border: 5px solid #fafafa;
  border-radius: 8px;
  border-style: ridge;
} */




/* SLİDER GİRİŞ -BOZUKKKK 
.slider{
  position:relative;
  width: 200px;
  height: 250px;
  border: 2px solid #9c9797;
  margin: auto;
  overflow: hidden;
  justify-content: center;
}
#main{
  position:relative;
  width: 200px;
  height: 250px;
  border: 2px solid #9c9797;
  margin: auto;
  overflow: hidden;
  justify-content: center;
}
.slider-content {
  position: absolute;
  width: 200%;
  animation: slide 20s infinite;
}
.slider-item{
  width: 8%;
  float: left;
}
.slider .slider-content .slider-item img {
  width: 200px;
  height: 250px;
}
@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  10% {
    transform: translateX(-200px);
  }
  20% {
    transform: translateX(-200px);
  }
  30% {
    transform: translateX(-400px);
  }
  40% {
    transform: translateX(-400px);
  }
  50% {
    transform: translateX(-600px);
  }
  60% {
    transform: translateX(-600px);
  }
  70% {
    transform: translateX(-800px);
  }
  80% {
    transform: translateX(-800px);
  }
  90% {
    transform: translateX(0px);
  }

} */


/* İKONLAR İNŞ */
@font-face {
  font-family: 'ikon';
  src: url('./font/ikon.eot?2537354');
  src: url('./font/ikon.eot?2537354#iefix') format('embedded-opentype'),
       url('./font/ikon.woff?2537354') format('woff'),
       url('./font/ikon.ttf?2537354') format('truetype'),
       url('./font/ikon.svg?2537354#ikon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.demo-icon {
  font-family: "ikon";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* İkonlar bitti :) */













/* .home-search .logo {
    margin-bottom: calc(2 * var(--size));
  }
  
  .logo {
    margin-bottom: 0;
  }
  
  tac {
    text-align: center;
  }
  
  figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }
  
  figure {
    margin: 0 0 var(--size);
  }
  
  body {
    margin: 0;
    font: 400 var(--f-size)/1.8 var(--family),sans-serif;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: var(--body);
    color: var(--text);
    -webkit-text-size-adjust: 100%;
  } */