p {
  font-family: 'Architects Daughter', cursive;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: rgb(227, 227, 228);
}

/* GALERİ KISMI */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* GALERİ KISMI BİTİŞ */


/* 
.btn-group {
   border: 2px ;
   padding: 20px;
   text-align: left;
 
} */

.flex-container {
  display: flex;
  justify-content: center; }

.flex-container > div {
  
  width: 150px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 40px;
  padding: 10px;
}

footer {
  padding: 20px;
  background-color: rgb(33, 33, 37);
  color: white;
}

select {
  width: 15;
  background-color: rgb(97, 96, 96);
  color: white;
  margin-bottom: 15px;
  
}

.üzüm-container{
  width: 400px;
  color: white;
}

